<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/question.css">
    <title>Adicionar Pergunta</title>
</head>
<body>
    <div class="container center">
        <h1 class="title">Adicionar Pergunta</h1>
        <form id="add-question-form" method="post" class="input-group">
            <label for="question">Adicione sua pergunta:</label>
            <input class="input" type="text" id="question" name="question" placeholder="Insira sua pergunta" required>
    
            <label for="correct_answer">Resposta Correta:</label>
            <input class="input" type="text" id="correct_answer" placeholder="Insira sua resposta" name="correct_answer" required>
    
            <label for="incorrect_answers">Respostas Incorretas:</label>
            <input class="input" type="text" id="incorrect_answers" placeholder="Separe por virgula" name="incorrect_answers" required>
    
            <button class="button" type="submit">Enviar</button>
        </form>
    </div>
    

    <script src="/static/js/script.js"></script>
</body>
</html>