<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/css/main.css">
    
</head>
<body>
    <div class="container center ">
        <h1 class="title">BEM-VINDO AO QUIZ</h1>
        <div id="buttons">
            <a href="/register-student" class="button">Registrar Alunos</a>
            <a href="/add-question" class="button">Adicionar Perguntas</a>
            <a href="/quiz" class="button">Iniciar Quiz</a>
            <a href="/ranking" class="button">Ranking</a>
        </div>
    </div>
</body>
</html>